{% extends 'layout.html' %}

{% from 'macros.html' import messages, home_link %}

{% set current_nav = 'login' %}

{% block content %}
    <div class="section">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <div class="welcome-logo has-text-centered">
                    {{ home_link() }}
                    <h1 class="title">{{ _('...backend') }}</h1>
                </div>
                <section class="panel">
                    <h1 class="panel-heading">{% block title %}{% endblock %}</h1>
                    <div class="panel-block">
                        <div class="column">
                            {{ messages() }}
                            {% block panel_content %}{% endblock %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}