{% from 'macros.html' import field, button %}

{% extends 'auth/layout.html' %}

{% block title %}Request password reset{% endblock %}

{% block panel_content %}
<form method="post" action="{{ url_for('reset_password') }}">
    {{ form.csrf_token }}

    {{ field(form.email, is_large=true, left_icon='envelope-o', placeholder='E-mail associated with your account', is_autofocus=true) }}

    <hr>
    <div class="field is-grouped">
        {{ button(label='Send Request', flag='primary', is_large=True) }}
        {{ button(label='Back to login', flag='link', is_large=True, href=url_for('login')) }}
    </div>
</form>
{% endblock %}