{% from 'macros.html' import field, button %}

{% extends 'auth/layout.html' %}

{% block title %}{% trans %}Zmień swoje hasło{% endtrans %}{% endblock %}

{% block panel_content %}
<form method="post" action="{{ request.url }}">
    {{ form.csrf_token }}

    {{ field(form.password, is_large=true, left_icon='key', placeholder=_('Nowe hasło'), is_autofocus=true) }}
    {{ field(form.password_repeat, is_large=true, left_icon='key', placeholder=_('Powtórz')) }}

    <hr>
    <div class="field is-grouped">
        {{ button(label=_('Zmień'), flag='primary', is_large=True) }}
        {{ button(label=_('Wróć do logowania'), flag='link', is_large=True, href=url_for('login')) }}
    </div>
</form>
{% endblock %}