{% from 'macros.html' import field, button %}

{% extends 'auth/layout.html' %}

{% block title %}{% trans %}Rozpocznij resetowanie hasła{% endtrans %}{% endblock %}

{% block panel_content %}
<form method="post" action="{{ url_for('reset_password') }}">
    {{ form.csrf_token }}

    {{ field(form.email, is_large=true, left_icon='envelope-o', placeholder=_('E-mail użyty podczas rejestracji'), is_autofocus=true) }}

    <hr>
    <div class="field is-grouped">
        {{ button(label=_('Rozpocznij'), flag='primary', is_large=True) }}
        {{ button(label=_('Wróć do logowania'), flag='link', is_large=True, href=url_for('login')) }}
    </div>
</form>
{% endblock %}