:root {
  --font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

  --color-brand: #209cee;
  --color-alternative: #00b124;
  --color-white: #ffffff;
  --color-text: #222;
  --color-text-grey: #777;
  --color-border: #888;

  --transition: 250ms ease-out;
  --border-radius: 5px;
}

body {
  font-family: var(--font-family);
  font-size: 1.2em;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, a:visited {
  color: var(--color-brand);
  transition: color var(--transition);
  text-decoration-style: dotted;
}

a:hover {
  color: var(--color-alternative);
}
