<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>

  {% from 'macros.html' import home_link %}

  <nav class="navbar">
    <div class="navbar-brand">
      {{ home_link(additional_class='navbar-item') }}
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ url_for('front.page', path='about-me') }}" class="navbar-item">
          {{ _('Wtf?') }}
        </a>
        <a href="#" class="navbar-item">
          {{ _('Użytkownicy') }}
        </a>
      </div>
      <div class="navbar-end">
        {% include 'partial/current_user.html' %}
        {% include 'partial/language_selector.html' %}
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>
  </body>
</html>