<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Created by <strong>Yaroslav Shatkevich</strong> on
                {{ ext_link('Flask', 'http://flask.pocoo.org') }},
                {{ ext_link('SQLAlchemy', 'https://www.sqlalchemy.org') }},
                {{ ext_link('Bulma', 'https://bulma.io') }},
                {{ ext_link('Backbone', 'http://backbonejs.org') }} stack {{ ext_link('Heroku', 'https://www.heroku.com') }} hosted<br>
                Find me on {{ ext_link('Github', 'https://github.com/saadhre') }}, {{ ext_link('LinkedIn', 'https://www.linkedin.com/in/yaroslav-shatkevich-b27a4a73/') }}, {{ ext_link('Twitter', 'https://twitter.com/saadhre') }}
            </p>
        </div>
    </div>
</footer>