<nav class="navbar">
    <div class="navbar-brand">
        {{ home_link(additional_class='navbar-item') }}
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ url_for('front.page', path='about-me') }}" class="navbar-item">
                {{ _('O mnie') }}
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="#" id="show-stack" title="{{ _('Pokaż stack') }}">
                    <span class="icon">
                        <i class="fa fa-code"></i>
                    </span>
                </a>
            </div>
            {% include 'partial/current_user.html' %}
        </div>
    </div>
</nav>