{% set pages = [
    {'path': 'about-me', 'label': 'O mnie'},
] %}

{% from 'macros.html' import render_nav_item with context %}

<nav class="navbar is-info">
    <div class="navbar-brand">
        {{ home_link(additional_class='navbar-item') }}
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {% for item in pages %}
                {{ render_nav_item(item) }}
            {% endfor %}
        </div>
        <div class="navbar-end">
            <a href="#" id="show-stack" class="navbar-item" title="{{ _('Pokaż stack') }}">
                Stack
            </a>
            {% include 'partial/current_user.html' %}
        </div>
    </div>
</nav>