<div class="has-text-centered has-text-centered base-data">
    <div class="image is-square"></div>
    <div class="social">
        <a href="https://github.com/saadhre" target="_blank">
            <span class="icon is-large">
                <i class="fa-3x fa fa-github-square"></i>
            </span>
        </a>
        <a href="https://www.linkedin.com/in/yaroslav-shatkevich-b27a4a73/" target="_blank">
            <span class="icon is-large">
                <i class="fa-3x fa fa-linkedin-square"></i>
            </span>
        </a>
        <a href="https://twitter.com/saadhre" target="_blank">
            <span class="icon is-large">
                <i class="fa-3x fa fa-twitter-square"></i>
            </span>
        </a>
    </div>
    <p>
        <strong>E-mail:</strong>
        <a href="mailto:yarik@shatkevich.com">yarik@shatkevich.com</a>
    </p>
    <p>
        <strong>{% trans %}Lokalizacja{% endtrans %}:</strong>
        <a href="https://www.google.pl/maps/place/Poznań/@52.4006553,16.7615841,11z" target="_blank">{% trans %}Poznań, Polska{% endtrans %}</a>
    </p>
    <p>
        <strong>{% trans %}Języki{% endtrans %}:</strong>
        {% trans %}Polski, Rosyjski, Angielski{% endtrans %}
    </p>
    <p>
        <strong>{% trans %}Wiek{% endtrans %}:</strong>
        {{ '1983-03-19'|age }}
    </p>
</div>